<h4 class="appNameUpper text-center">SPLI</h4>
<h4 class="appNameLower text-center">TTER</h4>
<div class="container main border border-0 border-white rounded-4 bg-white" data-controller="calculation">
  <div class="row p-4" id="mainrow" >
    <div class="col-12 col-md-6 p-4 rounded-3">
      <div class="row" id="left-col-rows">
        <label for="bill" class="form-label">Bill</label>
        <div class="input-group">
          <span class="input-group-text" style="border: none">
            <img src="/images/icon-dollar.svg" alt="" />
          </span>
          <input
            type="number"
            placeholder="0"
            class="form-control text-end"
            id="bill-input-value"
            data-calculation-target="bill"
            data-action="input->calculation#handleFieldInput"
          />
        </div>
      </div>
      
      <div class="row" id="left-col-rows">
        <label for="tip" class="form-label">Select Tip %</label>
        <div class="row">
          <div class="col-md-4 col-6">
            <button class="btn tip-button" type="button" data-action="click->calculation#handleFieldInput" data-calculation-target="tip" value="5">5%</button>
          </div>
          <div class="col-md-4 col-6">
            <button class="btn tip-button" type="button" data-action="click->calculation#handleFieldInput" data-calculation-target="tip" value="10">10%</button>
          </div>
          <div class="col-md-4 col-6">
            <button class="btn tip-button" type="button" data-action="click->calculation#handleFieldInput" data-calculation-target="tip" value="15">15%</button>
          </div>
          <div class="col-md-4 col-6">
            <button class="btn tip-button" type="button" data-action="click->calculation#handleFieldInput" data-calculation-target="tip" value="25">25%</button>
          </div>
          <div class="col-md-4 col-6">
            <button class="btn tip-button" type="button" data-action="click->calculation#handleFieldInput" data-calculation-target="tip" value="50">50%</button>
          </div>
          <div class="col-md-4 col-6">
            <input
              class="customTip"
              type="number"
              placeholder="Custom"
              data-calculation-target="tip"
              data-action="input->calculation#handleFieldInput"
            />
          </div>
        </div>
      </div>
      <div id="error" class="text-danger"></div>
      <div class="row" id="left-col-rows">
        <label for="number-of-people" class="form-label">Number of People</label>
        <div class="input-group">
          <span class="input-group-text" style="border: none">
            <img src="/images/icon-person.svg" alt="" />
          </span>
          <input
            type="number"
            placeholder="0"
            class="form-control text-end"
            id="numberOfPeopleInputValue"
            data-calculation-target="people"
            data-action="input->calculation#handleFieldInput"
          />
        </div>
      </div>
    </div>

    <div class="d-flex flex-column col-12 col-md-6 p-5 rounded-4" style="background: var(--VeryDarkCyan-color)">
      <div class="row mb-5">
        <div class="col">
          <label for="tip-amount" class="form-label">Tip Amount</label>
          <br />
          <label for="tip-amount" class="form-label">/ person</label>
        </div>
        <div class="col text-end mt-1 me-3">
          <span id="right-col-display-result">
            <p id="tipAmountResultValue" data-calculation-target="tipAmount">$0.00</p>
          </span>
        </div>
      </div>
              
      <div class="row mb-5">
        <div class="col">
          <label for="total" class="form-label">Total</label>
          <br />
          <label for="total" class="form-label">/ person</label>
        </div>
        <div class="col text-end mt-1 me-3">
          <span id="right-col-display-result">
            <p id="totalResultValue" data-calculation-target="totalAmount">$0.00</p>
          </span>
        </div>
      </div>

      <div class="row align-items-end mt-auto">
        <div class="col-md-12 col-12">
          <button id="reset-button" class="btn btn-reset p-2" type="button" data-action="click->calculation#resetForm">RESET</button>
        </div>
      </div>
    </div>
  </div>
</div>
